@import url("https://fonts.googleapis.com/css2?family=Petemoss&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fff;
}

#navbarNavAltMarkup {
  justify-content: right;
}

.nav-item {
  text-align: right;
}

.landing {
  background: url(assets/Namnlöst-1.jpg) center center/cover no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Petemoss", cursive;
  font-size: 12rem;
  margin-bottom: 6rem;
}

.btn {
  width: 11rem;
  align-self: center;
}

#adaptations,
#choosecast {
  background-color: rgb(48, 47, 47);
  min-height: 94vh;
  /* width: 100vw; */
  padding-bottom: 3rem;
}

.card {
  width: 18rem;
}

.card-img-top {
  height: 175px;
  object-fit: cover;
  object-position: 50% 10%;
}

.adaptation .img-container {
  position: relative;
  height: 175px;
  overflow: hidden;
}

.adaptation .img-container a {
  z-index: 3;
  position: absolute;
  display: block;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  border: #fff solid 2px;
  border-radius: 5px;
  padding: 0 1rem;
  background-color: none;
  transition: background-color 0.2s ease-in-out;
}

.adaptation .img-container a:hover {
  background-color: rgba(10, 110, 128, 0.842);
}

.adaptation .img-container::before {
  content: "";
  position: absolute;
  background-color: rgba(10, 110, 128, 0.473);
  top: 0;
  left: 0;
  height: 100%;
  width: 150%;
  z-index: 2;
  transform: skew(35deg) translateX(135%);
  transition: transform 0.5s ease-in-out;
}
.adaptation .img-container:hover::before {
  transform: skew(35deg) translateX(-17%);
}
.adaptation .img-container:hover img {
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}
.adaptation .img-container:hover img {
  transform: scale(1.05);
}

#choosecast {
  color: #fff;
  min-height: 94vh;
}

#choosecast .result-container {
  max-width: 700px;
}

#choosecast .result-container h2 {
  margin-bottom: 4rem;
}

#choosecast img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

#choosecast .form-group {
  width: 230px;
  margin-bottom: 2rem;
}

.btn-summary {
  margin: 4rem auto 2rem auto;
}

.result-container {
  font-weight: bold;
  letter-spacing: 1px;
  min-height: 80vh;
  margin-top: 20%;
}

.result-container h3 {
  font-family: "Petemoss", cursive;
  font-size: 4rem;
}

@media only screen and (max-width: 726px) {
  h1 {
    font-size: 6rem;
  }

  .container {
    width: 19rem;
    margin: 0 auto;
  }

  #choosecast .result-container img {
    width: 100px;
    height: 100px;
  }
  #choosecast .result-container h2 {
    margin-bottom: 1rem;
  }

  .result-container button {
    margin: 0 auto 1rem auto;
  }

  #choosecast .result-container .form-group:last-child {
    margin-bottom: 0;
  }
  .nav-item:first-child {
    margin-top: 1rem;
  }
}

/* @media only screen and (max-width: 768px) {
  .container {
    width: 40rem;
  }
  #result-container {
    padding-top: 0;
  }
} */
